<div id="topo">
    <h1>Produtos em Destaques</h1>
</div>
<div id="banner">
    <img src="src\assets\img\5219449.jpg" alt="">
</div>
<section class="Produtos1">
    <section class="produto">
        <img class="dell" src="..\assets\img\peripherals_desktop_precision_3650_gallery_2.psd.png">
        <p>Computador dell
        <p>R$ 2.499,00</p>
        <a href="#" class="btn btn-primary">Comprar</a>
    </section>
    <section class="produto">
        <img class="cad" src="..\assets\img\mcr-tyr-prp014215124-removebg-preview.png">
        <p>Cadeira Mancer
        <p>R$ 1.499,00</p>
        <a href="#" class="btn btn-primary">Comprar</a>
    </section>
    <section class="produto">
        <img class="placa"
            src="..\assets\img\placa-de-video-gigabyte-geforce-rtx-3060-gaming-oc-12g-12-gb-gddr6-rev-2-0-ray-tracing-gv-3060gaming_1626461646_gg-removebg-preview.png">
        <p>Placa de video Gibabyte RTX 3060
        <p>R$ 1.999,90</p>
        <a href="#" class="btn btn-primary">Comprar</a>
    </section>
</section>
<section class="Produtos2">
    <section class="produto">
        <img class="not"
            src="..\assets\img\notebook-samsung-intel-core-i3-1115g4-4gb-ram-ssd-256gb-15-6-full-hd-windows-11-home-cinza-np550xda-kv3br_1655749387_gg-removebg-preview.png">
        <p>Notebook samsung
        <p>R$ 2.499,00</p>
        <a href="#" class="btn btn-primary">Comprar</a>
    </section>
    <section class="produto">
        <img class="monitor"
            src="..\assets\img\monitor-gamer-acer-nitro-qg241y-p-23-8-led-full-hd-165hz-1ms-hdmi-displayport-freesync-premium-preto-um-qq1aa-s03_1643815428_gg-removebg-preview.png">
        <p>Monitor Gamer Acer
        <p>R$ 1.999,00</p>
        <a href="#" class="btn btn-primary">Comprar</a>
    </section>
    <section class="produto">
        <img class="smart"
            src="..\assets\img\samsung-smart-tv-43-uhd-4k-43au7700-processador-crystal-4k-tela-sem-limites-alexa-built-in-controle-unico-un43au7700gxzd_1617624901_gg-removebg-preview.png">
        <p>Smart Tv Samsung 43
        <p>R$ 1.999,90</p>
        <a href="#" class="btn btn-primary">Comprar</a>
    </section>
</section>